# Python virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Logs
*.log

# Local temporary files
.tmp/
tmp/

docs/